<template id="common-app" >
	<div >
		
		<common-header
			v-bind:appstate="appstate"
			v-on:login-set="loginSet($event)"
		></common-header>

		<main role="main">
	
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4">
						<ul >
							<li v-for="(item, index) in appstate.routes" v-bind:item="item" v-bind:index="index" v-bind:key="item.path" v-if="item.path" >
								<router-link :to="item.path" >{{item.title}}</router-link>
							</li>
						</ul>
					</div>
					<div class="col-xs-8">
						<router-view></router-view>
					</div>
				</div>
			</div>
				
		</main>
	
		<common-footer
			v-bind:appstate="appstate"
		></common-footer>

	</div>
</template>