<template id="common-app" >
	<div >
		
		<common-header
			v-bind:appstate="appstate"
			v-on:login-set="loginSet($event)"
		></common-header>

		<main role="main">
	
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4">
						<ul >
							<li v-for="(item, index) in appstate.routes" v-bind:item="item" v-bind:index="index" v-bind:key="item.path" v-if="item.path" >
								<router-link :to="item.path" >{{item.title}}</router-link>
							</li>
						</ul>
					</div>
					<div class="col-xs-8">
						<router-view></router-view>
					</div>
				</div>
			</div>
				
		</main>
	
		<common-footer
			v-bind:appstate="appstate"
		></common-footer>

	</div>
</template>
<template id="common-footer" >
	<footer class="footer" >
		
	</footer>
</template>
<template id="common-header" >
	<header class="header" >
		
		<div class="container-fluid">
			<div class="row">
				
				<div class='col-xs-6' v-if="appstate && appstate.entity_classes" >
					<h4 >Доступные сущности</h4>
					<ul >
						<li v-for="(item, index) in appstate.entity_classes" v-bind:item="item" v-bind:index="index" v-bind:key="item.id" v-if="item.id" >
							<a v-bind:href="'#/' + item.id" >{{item.title}}</a>
						</li>
					</ul>
				</div>

				<div class='col-xs-6' v-else >

				</div>


				<div class='col-xs-6' v-if="appstate && appstate.session && appstate.session.profile && appstate.session.profile.id" >
					<ul >
						<li>{{appstate.session.profile.view_as}} <a href="#" v-on:click="login_unset();" >Выйти</a></li>
					</ul>
				</div>

				<div class='col-xs-6' v-else >
					<h4 >Аноним</h4>
					<ul >
						<li><a href="#" v-on:click="$emit('login-set', 1)" >Войти</a></li>
					</ul>
				</div>

			</div>
		</div>

	</header>
</template>
<template id="common-loading" >
	<div >
		loading...
	</div>
</template>
<template id="page-login" >
	<div >
		
		<div class="container-fluid">
			<div class="row">
				
				<div class='col-xs-12' >
					<form @submit.prevent="sendForm" ><!--v-el:custom  @submit.prevent="doThis"-->
						<div class='' >
							<input
								class='form-control'
								type='text'
								name='login'
								value=''
								placeholder='login'
								autocomplete='off'
								autocorrect='off'
								v-model='form.login'
								/>
							<div v-if="errors.empty_login" >
								empty_login
							</div>
						</div>
						<div class='' >
							<input
								class='form-control'
								type='text'
								name='pass'
								value=''
								placeholder='password'
								autocomplete='off'
								autocorrect='off'
								v-model='form.pass'
								/>
							<div v-if="errors.empty_pass" >
								empty_pass
							</div>
						</div>
						<div class='' >
							<div v-if="errors.wrong_access" >
								wrong_access
							</div>
							<input
								class='btn btn-success'
								type='submit'
								value='Войти'
								/>
						</div>
					</form>
				</div>

			</div>
		</div>

	</div>
</template>