<template id="page-login" >
	<div >
		
		<div class="container-fluid">
			<div class="row">
				
				<div class='col-xs-12' >
					<form @submit.prevent="sendForm" ><!--v-el:custom  @submit.prevent="doThis"-->
						<div class='' >
							<input
								class='form-control'
								type='text'
								name='login'
								value=''
								placeholder='login'
								autocomplete='off'
								autocorrect='off'
								v-model='form.login'
								/>
							<div v-if="errors.empty_login" >
								empty_login
							</div>
						</div>
						<div class='' >
							<input
								class='form-control'
								type='text'
								name='pass'
								value=''
								placeholder='password'
								autocomplete='off'
								autocorrect='off'
								v-model='form.pass'
								/>
							<div v-if="errors.empty_pass" >
								empty_pass
							</div>
						</div>
						<div class='' >
							<div v-if="errors.wrong_access" >
								wrong_access
							</div>
							<input
								class='btn btn-success'
								type='submit'
								value='Войти'
								/>
						</div>
					</form>
				</div>

			</div>
		</div>

	</div>
</template>