<template id="common-header" >
	<header class="header" >
		
		<div class="container-fluid">
			<div class="row">
				
				<div class='col-xs-6' v-if="appstate && appstate.entity_classes" >
					<h4 >Доступные сущности</h4>
					<ul >
						<li v-for="(item, index) in appstate.entity_classes" v-bind:item="item" v-bind:index="index" v-bind:key="item.id" v-if="item.id" >
							<a v-bind:href="'#/' + item.id" >{{item.title}}</a>
						</li>
					</ul>
				</div>

				<div class='col-xs-6' v-else >

				</div>


				<div class='col-xs-6' v-if="appstate && appstate.session && appstate.session.profile && appstate.session.profile.id" >
					<ul >
						<li>{{appstate.session.profile.view_as}} <a href="#" v-on:click="login_unset();" >Выйти</a></li>
					</ul>
				</div>

				<div class='col-xs-6' v-else >
					<h4 >Аноним</h4>
					<ul >
						<li><a href="#" v-on:click="$emit('login-set', 1)" >Войти</a></li>
					</ul>
				</div>

			</div>
		</div>

	</header>
</template>